.header {
    padding: 10px;
    text-align: center;
    background-color: #334d73;
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.get {
    border-radius: 4px;
    background-color:#4378a6;
    border: none;
    color: white;
    text-align: center;
    font-size: 28px;
    padding: 10px;
    width: 200px;
    cursor: pointer;
    margin: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: block;
}

.post {
    border-radius: 4px;
    background-color:#4378a6;
    border: none;
    color: white;
    text-align: center;
    font-size: 28px;
    padding: 10px;
    width: 200px;
    cursor: pointer;
    margin: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: block;
}

.put {
    border-radius: 4px;
    background-color:#4378a6;
    border: none;
    color: white;
    text-align: center;
    font-size: 28px;
    padding: 10px;
    width: 200px;
    cursor: pointer;
    margin: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.delete {
    border-radius: 4px;
    background-color:#4378a6;
    border: none;
    color: white;
    text-align: center;
    font-size: 28px;
    padding: 10px;
    width: 200px;
    cursor: pointer;
    margin: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;

}