.header {
    padding: 10px;
    text-align: center;
    background-color: #334d73;
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* Design of the buttons */
.btn {
    border-radius: 4px;
    background-color: #4378a6;
    border: none;
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 10px 20px;
    width: 150px;
    cursor: pointer;
    margin: 10px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #3a6c91;
}

/* Main Container for Buttons */
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}


.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;

}
